:root{
    --main-haeding-color:#FFFFFF;
    --accent-color:#2196F3;
    --logo-color:#000000;
    --heading-color:#212121;
    --text-color:#757575;
    --block-color:#F5F4FA;
    --footer-color:#2F303A;
    --footer-contact:rgba(255, 255, 255, 0.6);
}
/* общие классы*/
body{
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    letter-spacing: 0.03em;
}
.list{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.section-heading,
.qualities-heading,
.portfolio-heading,
.card-heading,
.navi .navi-list{
    color: var(--heading-color);
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
h1,
h2,
h3,
p{
    margin-top: 0;
    margin-bottom: 0;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
/* начало */
header{
    border-bottom: 1px solid #E5E5E5;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}
.navi > .item{
    margin-right: 93px;
}
.navi .logo{
    color: var(--logo-color);
}
.logo .accent{
    color:var(--accent-color);
}
/* nav */
.box-header{
    display: flex;
    align-items: center;

    font-size: 14px;
    font-weight: 500;
}
.navi{
    display: flex;
    align-items: center;

    letter-spacing: 0.02em;

}
.navi .navi-item{
    display: flex;
}
.navi-item > .item {
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.navi-item>.item:last-child{
    margin-right: 0px;
}
.navi-item .navi-list{   
    line-height: 1.14;
    text-decoration: none;
}
.navi-item .navi-list:hover, 
.navi-item .navi-list:focus{
    color: var(--accent-color);
}
.navi .on-page {
    color: var(--accent-color);
}
/* контакты хедер */
.header-contact{
    display: flex;
    margin-left: auto;
}
.contact-us{
    color: var(--text-color);
    text-decoration: none;
}
.contact-us:focus,
.contact-us:hover{
    color: var(--accent-color);
}
.header-contact > .item{
    margin-right: 50px;
}

/* hero */
.hero{
    background-color: var(--footer-color);
    letter-spacing: 0.06em;
    text-align: center;
}
.hero .hero-head{
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--main-haeding-color);
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 2;
    text-transform: uppercase;

    
}
.hero .order{
    min-width: 216px;
    padding: 10px 32px;
    border-radius: 4px;
    border: 1px solid transparent;
    color: var(--main-haeding-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    cursor: pointer;
    
}
/* основные качества */
.display{
    display: none;

}
.qualities .qualities-box{
    display: flex;
    justify-content: space-between;
}
.qualities-box .qualities-heading{
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase; 
}
.qualities-box .qualities-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
}
.qualities-box > .item{
    width: 270px;
}
/* Чем мы занимаемся */
.flex-box{
    display: flex;
    justify-content: space-between;
}

.section-heading {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.16;
}
/* наша команда */
.team{
    background-color: var(--block-color);
}
.team-card{
    width: 270px;

    background-color: var(--main-haeding-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    text-align: center;
}
.team-card .team-photo{
    margin-bottom: 30px;
}
.team-card .card-heading{
margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;

}
.team-card .card-text{
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 16px;

}
/* footer */
footer{
    background-color: var(--footer-color);
}
.footer-block{
    padding: 60px 0;
}
.footer-contact > .logo{
    display: inline-block;
    margin-bottom: 20px;
}
.adress{
    font-style: normal;
}
.adress .item{
    margin-bottom: 9px;
}
.adress .item:last-child{
    margin-bottom: 0px;
}
.footer-contact{
    font-weight: 400;
}
.footer-contact .logo{
    color: var(--main-haeding-color);
    
}
.footer-contact .maps{
    color: var(--main-haeding-color);
    text-decoration: none;
}
.footer-contact .contact-us{
    color: var(--footer-contact);
    font-weight: 400;
}
/* портфолио */
.portfolio .filter{
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}
.filter > .item{
    margin-right: 6px;
}
.filter > .item:last-child{
    margin-right: 0px;
}
.filter .filter-buttun{
    padding: 6px 22px;

    background-color: var(--block-color);
    border-radius: 4px;
    border: none;
 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    font-family: inherit;
    cursor: pointer;
}

.portfolio .filter-buttun:hover,
.portfolio .filter-buttun:focus{
    color: var(--main-haeding-color);
    background-color: var(--accent-color);
}
/* боксы портфолио */
.work-box {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.portfolio-box{
    width: 370px;
    border: 1px solid #EEEEEE;
    margin: 15px;
}
.portfolio-box .box-description{
    padding: 20px 24px;
}
.box-description .portfolio-heading{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.box-description .portfolio-text{
    font-size: 16px;
    line-height: 1.88;
}

